html {
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  height: 100%;
}

p {
  font-family: 'Open Sans', sans-serif;
  margin: 10px 0;
  text-align: justify;
}

h3 {
  font-family: 'Merriweather', serif;
  letter-spacing: .04rem;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header {
  position: relative;
  width: 100vw;
  height: 780px;
  background-image: url("../img/bk-header.jpg");
  background-position: center;
  overflow-y: hidden;
}

.header-city {
  position: absolute;
  background-image: url("../img/header.png");
  height: 180px;
  width: 100vw;
  bottom: 20px;
  z-index: 9999;
}

.header-wrap {
  padding: 50px 0;
  overflow-y: hidden;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.header-content {
  z-index: 9998;
}

.header-content__year {
  padding-top: 10px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
}

.header-content__logo {
  width: 130px;
  margin: 0 auto;
  padding: 35px 0;
}

.header-content__logo img {
  width: 100%;
}

.header-content__nav {
  font-family: 'Open Sans', sans-serif;
  margin-top: 40px;
}

.header-content__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto;
}

.header-content__nav ul li {
  list-style: none;
  padding: 10px 0;
}

.header-content__nav ul li a {
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
  letter-spacing: .04rem;
}

.header-content__nav ul li a::after {
  border-bottom: 3px solid #e9d670;
  content: "";
  display: block;
  margin: 0.25em auto 0;
  -webkit-transition: width 350ms ease-in-out 0.1s;
  transition: width 350ms ease-in-out 0.1s;
  width: 0;
}

.header-content__nav ul li a:hover:after {
  -webkit-transition: width 200ms ease-in-out 0.1s;
  transition: width 200ms ease-in-out 0.1s;
  width: 100%;
  color: #e9d670;
}

.header-content__title {
  margin-top: 60px;
}

.header-content__title h1 {
  text-align: center;
  font-size: 45px;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Merriweather', serif;
  letter-spacing: .04rem;
}

.logoKGU {
  width: 100px;
  position: absolute;
  z-index: 9999;
  right: 70px;
  top: 27px;
}

.logoKGU img {
  width: 100%;
}

.about {
  padding: 70px 0;
}

.about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-content__img {
  width: 40%;
}

.about-content__img img {
  width: 100%;
}

.about-content__text {
  padding: 0 20px;
}

.about-content__title {
  margin-bottom: 25px;
}

.about-content__title h1 {
  font-size: 45px;
  text-transform: uppercase;
  color: #000;
  font-family: 'Merriweather', serif;
  letter-spacing: .1rem;
}

.courses {
  position: relative;
  padding: 70px 0 0 0;
  height: 390px;
}

.courses-all {
  padding-top: 70px;
  background-color: #f5f5f5;
}

.courses-all-title {
  text-align: center;
  margin-bottom: 40px;
}

.courses-all h1 {
  font-size: 45px;
  text-transform: uppercase;
  color: #000;
  font-family: 'Merriweather', serif;
  letter-spacing: .1rem;
}

.courses-wrap {
  height: 100%;
}

.courses-wrap.container {
  height: 100%;
}

.courses-right {
  position: relative;
  padding: 40px 0 0 0;
  height: 390px;
}

.courses-right-prog {
  width: 100%;
  height: 390px;
}

.courses-right-prog:before {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  background-image: url("../img/prog.jpg");
  background-size: cover;
  left: 0;
  top: 0;
}

.courses-right-reading {
  width: 100%;
  height: 390px;
}

.courses-right-reading:before {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  background-image: url("../img/reading.jpg");
  background-size: cover;
  left: 0;
  top: 0;
}

.courses-language {
  width: 100%;
  height: 390px;
}

.courses-language:before {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  background-image: url("../img/language.jpg");
  background-size: cover;
  right: 0;
  top: 0;
}

.courses-math {
  width: 100%;
  height: 390px;
}

.courses-math:before {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  background-image: url("../img/math.jpg");
  background-size: cover;
  right: 0;
  top: 0;
}

.courses-color {
  background-color: #ffffff;
}

.courses-block {
  position: relative;
}

.courses-block__left {
  font-size: 15px;
  position: relative;
  padding: 30px;
  width: 47%;
  padding-left: 0;
}

.courses-block__left__text {
  margin: 0 auto;
}

.courses-block__right {
  font-size: 15px;
  width: 47%;
  padding: 30px 0;
  margin-left: auto;
}

.courses-block__right__text {
  margin-left: 10px;
}

.courses-block-popup {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  top: 0;
  left: 0;
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
}

.courses-block-popup-content {
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 4px;
  max-height: 600px;
  overflow-y: scroll;
}

.courses-block-popup-content-close {
  cursor: pointer;
  position: fixed;
  right: 166px;
  font-size: 23px;
}

.courses-block-popup-ul {
  margin: 5px 0 10px 20px;
  font-family: 'Open Sans', sans-serif;
}

.courses-block-details {
  margin-top: 25px;
  position: relative;
  height: 30px;
}

.courses-block-details button {
  text-transform: uppercase;
  position: absolute;
  right: 0;
  cursor: pointer;
  font-family: 'Merriweather', serif;
  padding: 5px;
  color: #000;
  text-decoration: underline;
  background-color: transparent;
  border: 0;
  border-radius: 3px;
  outline: none;
}

.opnePopUP {
  display: block;
  z-index: 9999;
}

.advantage {
  position: relative;
  padding: 70px 0;
  background-color: #f5f5f5;
}

.advantage::after {
  content: "";
  width: 100%;
  position: absolute;
  border-bottom: 2px solid;
  bottom: 0;
}

.advantage-title {
  text-align: center;
  margin-bottom: 40px;
}

.advantage-title h1 {
  font-size: 45px;
  text-transform: uppercase;
  color: #000;
  font-family: 'Merriweather', serif;
  letter-spacing: .1rem;
}

.advantage-wrap .wrap {
  overflow: hidden;
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.advantage-block {
  width: 200px;
}

.advantage-block__img {
  margin: 0 auto;
  width: 90px;
  border: 3px solid;
  border-radius: 50%;
  padding: 21px;
}

.advantage-block__img img {
  width: 100%;
}

.advantage-block__text {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  font-weight: 700;
  margin-top: 10px;
}

.figures {
  position: relative;
  padding: 70px 0;
}

.figures::after {
  content: "";
  width: 100%;
  position: absolute;
  border-bottom: 2px solid;
  bottom: 0;
}

.figures-title {
  text-align: center;
  margin-bottom: 40px;
}

.figures-title h1 {
  font-size: 45px;
  text-transform: uppercase;
  color: #000;
  font-family: 'Merriweather', serif;
  letter-spacing: .1rem;
}

.figures-wrap .wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.figures-block {
  width: 200px;
}

.figures-block__img {
  margin: 0 auto;
  width: 90px;
  border: 3px solid;
  border-radius: 50%;
  padding: 21px;
}

.figures-block__img img {
  width: 100%;
}

.figures-block__text {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  font-weight: 700;
  margin-top: 10px;
}

.figures-block__text__description {
  margin-top: 10px;
  text-align: center;
  font-size: 15px;
}

.slider {
  padding: 70px 0;
}

.slider-title {
  text-align: center;
  margin-bottom: 40px;
}

.slider-title h1 {
  font-size: 45px;
  text-transform: uppercase;
  color: #000;
  font-family: 'Merriweather', serif;
  letter-spacing: .1rem;
}

.slider-certificate {
  height: auto;
  margin-top: 50px;
}

.slider-certificate-photo .slick-slide {
  padding: 20px;
  outline: none;
}

.slider-certificate-photo .slick-slide img {
  width: 464px;
  height: auto !important;
  margin: 0 auto;
}

.slider-nav img {
  cursor: pointer;
}

.slick-slide {
  padding: 20px;
  outline: none;
}

.slick-slide img {
  width: 100%;
  height: 256px !important;
}

.certificate {
  padding: 70px 0;
}

.certificate-title {
  text-align: center;
  margin-bottom: 40px;
}

.certificate-title h1 {
  font-size: 45px;
  text-transform: uppercase;
  color: #000;
  font-family: 'Merriweather', serif;
  letter-spacing: .1rem;
}

.certificate-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.certificate-block__img {
  width: 40%;
}

.certificate-block__img img {
  width: 100%;
}

.certificate-block__text {
  width: 59%;
  padding: 0 20px;
}

.certificate-block__text p {
  margin-top: 0;
  margin-bottom: 5px;
}

.footer {
  padding: 20px 0;
  background-color: #000000;
}

.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-block__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80px;
}

.footer-block__logo img {
  margin-left: 10px;
  width: 100%;
}

.footer-block__phone {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

.footer-block__phone a {
  color: #ffffff;
  text-decoration: none;
}

.footer-block__text {
  width: 30px;
  color: #ffffff;
  -webkit-transition: 1s;
  transition: 1s;
  overflow-y: hidden;
  height: 30px;
}

.footer-block__text a img {
  width: 100%;
}

.footer-block__text:hover {
  -webkit-transform: rotate(720deg);
  transform: rotate(720deg);
  overflow-y: hidden;
}
/*# sourceMappingURL=main.css.map */