.about
    padding: 40px 0
    &-content
        &__title
            margin-bottom: 25px
            h1
                font-size: 45px
                text-transform: uppercase
                color: #000
                font-family: 'Merriweather', serif
                letter-spacing: .1rem


